<ons-page>
    <div class="page__content">
        <div class="mp-full"
             style="width: 100%;
                    height: 100%;
                    background: url('image/3_3letsbegin_sparkle_halfsize.png') 11% 10% no-repeat,
                                url('image/3_3letsbegin_sparkle_halfsize.png') 90% 20% no-repeat,
                                url('image/3_3letsbegin_sparkle_halfsize.png') 11% 80% no-repeat,
                                url('image/3_3letsbegin_sparkle_halfsize.png') 90% 93% no-repeat,
                                rgb(255, 246, 209);
                                text-align: center;">
            <div style="display: table; width: 100%; height: 100%;">
                <div style="display: table-cell; vertical-align: middle;">
                    <div style="display: inline-block;">
                        <img src="image/3_3letsbegin_letsbegin.png" alt="" style="width: 180px;"><br>
                        <div style="height: 30px;"></div>
                        <input type="text" class="mp-input" placeholder="scott@prottapp.com"><br>
                        <div style="height: 20px;"></div>
                        <input type="password" class="mp-input" placeholder="*************"><br>
                        <div style="height: 40px;"></div>
                        <div class="mp-signin-button"
                             onclick="document.querySelector('#mp-navigator').resetToPage('template/mainapp/4_home.html', {animation: 'fade'});">
                            Sign in
                        </div>
                        <div style="height: 20px;"></div>
                        <img src="image/3_3letsbegin_forgot.png" alt="" style="width: 150px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ons-page>
